@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Dancing+Script:wght@700&display=swap');
*{
    margin-top: 4;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Andada Pro', serif; 
  
}
.bgimg{
    background:url("../images/girl.jpeg");
    height: 100vh;
    background-size: cover;
    background-position:center;

}

.content{
    position: relative;
    top: 50%;
    left: 50%;
    z-index: 99;
    text-align: center;
    padding: 60px 32px;
    width: 370px;
    transform: translate(-50%,-50%);
    background:rgba(16, 17, 16, 0.04);
    box-shadow:1px 4px 28px 0px rgba(5, 5, 5, 0.75);
}
/****header login******/
.content header{
    color: #fff;
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 32px 0;
}
/*******email style***********/
.field{ 
    height: 45px;
    width: 100%;
    display: flex;
    /* border: 5px solid #f1efef; */
    background: rgba(255,255,255,0.94);
}
.field span{
    width: 40px;
    line-height: 45px;
   

}
.field input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
   
    
}
/****input password******/
.space{
    
    height: 45px;
    width: 100%;
    display: flex;
    background:#fffffff0;
}
.space span{
    width: 40px;
    line-height: 45px;
   

}
.space input{
   
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
}
   
/******Icon*****/
.icon{
    background-color: black;
    font-size: medium;
}
/*******FOTGET PASSWORd********/
.pass {
text-align: left;
margin: 10px 0;
}
.pass a{
    color:#fff;
    text-decoration: none;
}
.pass:hover a{
text-decoration: underline;
}
/*******input login (button*******/
.field input{
    background: #3498db;
    color: #fff;
    font-size: 18px;
  
    cursor: pointer;
}
.field input:hover{
    background: hsl(204, 65%, 35%);
}
/***or login**/
.login{
    color: #fff;
    margin: 20px 0;
    font-size: 15px;
    font-weight: bolder;
}
/* div facbook instagrem*/
.links{
    display: flex;
    cursor: pointer;
    color: rgb(255, 255, 255);
    margin: 0 0 20px 0;
}
/*facbook instagrem*/
.facebook,
.instagram{
 width: 100%;
 height: 54px;
 line-height: 45px;
 margin-left: 10px;
}
.facebook{
    margin-left: 0;
    background: #4367b2;
   
}
.instagram{
    margin-left: 0;
    background: #e1306c;
    
}
.facebook:hover{
    background: #122b58;
}
.instagram:hover{
    background: #290510;
}
/*****tag a ******/
.instagram a{
    text-decoration: none;
   color: white;
    
}
.facebook a{
    text-decoration: none;
   color: white;
}
.instagram a:hover{
   color: white;   
}
.facebook a:hover{
    color: white;
   
}

/*****REgester******/
.regester{
    font-size: 20px;
    color: #ffffff;
}
.regester a{
    font-size: 20px;
    font-weight: bolder;
    color: #3498db;
    text-decoration: none;
}
.regester a:hover{
    text-decoration: underline;
}
