@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin-top: 4;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Andada Pro', serif; 
    color: lavender;
  
}

.bgimg{
    /* background:url("../images/profile.jpeg"); */
    background: url("https://images.pexels.com/photos/1612353/pexels-photo-1612353.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    height: 100vh;
    background-size: cover;
    background-position:center;

}

.content{
    position: relative;
    top: 50%;
    left: 50%;
    z-index: 99;
    text-align: center;
    padding: 60px 32px;
    width: 500px;
    transform: translate(-50%,-50%);
    background:rgba(16, 17, 16, 0.04);
    box-shadow:1px 4px 28px 0px rgba(5, 5, 5, 0.75);
}
.content header{
    color: #fff;
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
  
}
.field input{
width: 100%;
height: 40px;
color: black;
border: none;
}


/******buton signup*******/
.signup{
    padding: 10px 20px;
    background-color: rgb(13, 78, 218);
    border: none;
   margin-top: 10px;
}
.signup:hover{
    background-color: rgb(16, 24, 65);
   margin: 10px 10px;
}
   /*******************/
.regester a{
    font-size: 20px;
    font-weight: bolder;
    color: #3498db;
    text-decoration: none;
}
.regester a:hover{
    text-decoration: underline;
}