


.background{
        
   /* background-image:url("../images/hhh.jpg") ; */
   background-image: url("https://images.pexels.com/photos/2376994/pexels-photo-2376994.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    /* background-image: url("https://images.pexels.com/photos/1122418/pexels-photo-1122418.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"); */
   background-size: cover;
    width: 100%;   
     height: 60vh;
    background-position:center center;
   
   color:white;
  
  }

/***********imag profile User***********/
.imageprofile {
 align-items: center;
  
  height: 200px;
  width: 200px;
  border-radius: 70%;
  margin-left:600px;
  margin-bottom: 10px;
 
}
.information{
  margin-top: 30%;
  font-size: 25px;
  font-weight: bolder;
  color: rgb(221, 216, 216);

}













  /********APi style image background*********/
  .apibackground{
    position: relative;
    background-image:url("../images/h.jpeg") ;
    background-size: cover;
    width: 100%;   
     height: 80vh;
    background-position:center center;
   color:white;
  }